.sheet {
    margin: 20px;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.backhome{
    background-color:  #3c3c5e;
    color:  #bcbdf1;
    border:none;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    padding: 4px 4px 4px 4px;
    display: flex;
    justify-content: center;
}

.backhome:hover{
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

.div-btnhome{
    justify-content: center;
    display: flex;
}