.sheet {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: system-ui;
    max-width: 850px;
    margin: 40px auto;
}

.diva {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 6px;
    box-sizing: content-box;
    padding: 30px;
    color: white;
    margin: 5px;
    height: 150px;
    width: 200px;
    text-align: center;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media screen and (max-width: 875px){
     

    .diva{
        width: 250px;
    }

   
}