@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.wishlist{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.wishlist h1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 10px;
}

.wishlist path{
    color: rgb(255, 208, 0);
}

.cards-container{
    display: grid;
    grid-gap: 5rem 1rem;
    gap: 3rem 1rem;
    grid-auto-flow: dense;
    grid-template-rows: 15rem 15rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 20rem));
    justify-content: space-around;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.card-fav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    max-width: 100%;
    height: 230px;
    border-radius: 20px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
}

.card-fav h4{
    margin-left: 10px;
}

.btn-div{
    display: flex;
    align-self: flex-start;
}

.btn-div img{
    margin-left: 10px;
    border-radius: 5px;
}

.price-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price-btn p{
    margin-left: 20px;
}

.remove-fav{
	background-color: #d4344170;
	text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
	color: #d40722;
    font-size: 12px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer; 
}

.remove-fav:hover{
    background-color: #d40722b2;
    color: #5f161cfb;
}

@media screen and (max-width: 875px){
    .cards-container{
    grid-template-columns: repeat(auto-fill, minmax(18rem, 20rem));
}
}