.form-c{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
}

.form-c div{
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form-c input{
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);

}

.btn-c{
    color:  #7b7bc2;
    background-color:white;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    padding: 6px;
    margin-left: 260px;
}

.btn-c:hover{
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
