.table-users{
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-table{
    overflow-x: auto;
    width: 90vw;
}

.div-btndashuser{
    margin-bottom: 10px;
}

.btn-dashuser{
    background-color:  #3c3c5e;
    color:  #bcbdf1;
    border:none;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    padding: 4px 4px 4px 4px;
}

.btn-dashuser:hover{
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

table, tr, td {
    border: 1px solid black;
    color: rgb(44, 65, 136);
    font-family: system-ui;
}
    
td{
    font-size: 15px;
    font-weight: 400;
}

select{
    border-radius: 8px;
    background-color: #ffffff;
    color:#2E2E48;
    border: 1px solid #7b7bc2;
    margin-top: 10px;
}

.div-table table {
    width: 100%;
}

.div-table button{
    border: solid 1px #7b7bc2;
    color: #7b7bc2;
    background-color: white;
    border-radius: 10px;
}