@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.pageNumbers{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #2E2E48;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-around;
    width: 50vh;
    
}

.pageNumbers button{
    color: #bcbdf1;
    background-color: #2E2E48;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.pageNumbers button:hover,
.pageNumbers button.active {
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

.imgproducts {  
    max-width: 100%;  
    height: auto;
    /* -webkit-box-shadow:  4px 4px 3px rgba(84,85,100,0.4); 
    box-shadow:  4px 4px 3px rgba(84,85,100,0.151);
     */
     border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19); 
    width: 90%;
    border-radius: 20px;
    /* border: 0.1px solid rgba(84, 85, 100, 0.151); */
}

.imgproducts img {  
    max-width: 100%;  
    height: auto;  
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.sheetGrid {
    display: grid;
    gap: 3rem;
    grid-auto-flow: dense;
    grid-template-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
    text-align: center;
    margin-left: 6vh;
    margin-right: 1vh;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(29, 41, 109);
    font-size: 19px;
}