@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.pageNumbers{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #2E2E48;
    margin: 0 auto;
    margin-top: 6vh;
    display: flex;
    justify-content: space-around;
    width: 40vh;    
}

.pageNumbers button{
    color: #bcbdf1;
    background-color: #2E2E48;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 30px;
}

.pageNumbers li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .pageNumbers li.active {
      font-weight: 600;
    color: #2E2E48;
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .pageNumbers li button:hover {
    background-color: black;
    color: white;
  }
  .pageNumbers li button:focus {
    outline: none;
  }

.imgproducts {  
    max-width: 100%;  
    height: 320px;
    /* -webkit-box-shadow:  4px 4px 3px rgba(84,85,100,0.4); 
    box-shadow:  4px 4px 3px rgba(84,85,100,0.151);
     */
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19); 
    width: 270px;
    border-radius: 20px;
    /* border: 0.1px solid rgba(84, 85, 100, 0.151); */
}

.imgproducts img {  
    max-width: 90%;   
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.sheetGrid {
    display: grid;
    gap: 5rem 1rem;
    grid-auto-flow: dense;
    grid-template-rows: 18rem 18rem /* 18rem */;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 17rem));
    justify-content: space-around;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(29, 41, 109);
}


.filters{
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-around;
    width: 30vh;
}

.btn-fav, .filters button{
    color:  #7b7bc2;
    background-color:white;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer; 
}


.btn-fav{
  display: inline-flex;
  align-items: center;
  grid-column-gap: 3px;
  color:rgb(207, 19, 66);
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
}

.filters button:hover,
.filters button.active {
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

.filters select{
    background-color: #ffffff;
    color:#2E2E48;
    border: 1px solid #7b7bc2;
    border-radius: 9px;
  }
  
  .filters select option {
    padding: 10px;
  }


  .name{
    margin:10px ;
  }
