@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav-container{   
    background-color: #2E2E48 ;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    font-family: 'Montserrat', sans-serif;   
    font-size: 15px; 
    flex-direction: row;
    padding: 5px;
}


.link-home button, .links-login a {
    color: white;
    background-color: transparent;
    height: 35px;
    padding: 0px 8px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;  
    align-items: center;
    display: inline-flex;
    column-gap: 3px;
    text-decoration: none;
}

.link-home button:hover,
.link-home button.active, 
.links-login a:hover,
.links-login a.active {
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

.btn-menu{
    display: none;
}

@media screen and (max-width: 768px){
    .nav-container{
        flex-direction: column;
    }

    .link-home {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .links-login {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        height: 150px;
        transition: height .3s ease-out;
    }

    .links-login.collapsed {
        height: 0;
    }

    .btn-menu{
        color:white;
        cursor: pointer;
        font-size: 22px;
        margin-right: 20px;
        display: inherit;
    }
}


/*

.searchbar {
    padding-right: 15px;
}



.links-login.show{
    top: 65px;
}

@media screen and (max-width: 952px){
    .links-login a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .nav-container{
        height: 65px;
    }

    .btn-menu{
        display: inline-flex;
    }

    .links-login{
        position:fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: blue;
        top:-100vh;
        text-align: center;
      
    }
}*/