@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.all-create{
    align-self: center;
}

.btn-dash{
    font-family: 'Montserrat', sans-serif;
    background-color: #343692b7;
    border-radius: 20px;
    text-align: center;
    color: #eaeaf1;
    font-family: system-ui;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    grid-column-gap: 3px;
    height: 30px;
    margin-top: 30px;
}

.btn-dash:hover{
    background-color: #343692e1;
    color:  #bebeda;
}

.form-create{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #b2b2f356;
    width: 500px;
    border-radius: 20px;
    align-self: center;
}
 
.form-create div{
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form-create input{
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.input-photos{
width: 200px;
font-size: 10px;
}


.danger{
    color: red;
    font-size: 12px;
}

.btn-submit{
    color:  #7b7bc2;
    background-color:white;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    padding: 6px;
    margin-left: 260px;
}

.btn-submit:hover{
    background-color:  #bcbdf1;
    color:  #2E2E48;
}

.brand-s select, .categ-s select{
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
    width:150px;
    background-color: #ffffff;
    color:#2E2E48;
}
  
.brand-s select option:hover, .categ-s select option:hover{
    padding: 10px;
}

.categ-btn{
    max-width: 300px;
}

.categ-btn button{
    color:  #7b7bc2;
    background-color:white;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
    padding: 6px;   
}


@media screen and (max-width: 875px){
 
        .form-create{
            width: 350px;
        }
}